*{
	margin:0px;
	padding:0px; 
}

body {
width: 1000px;
height: auto;
background-color: white;
font-family: arial;
}

h1 {
	font-size: 35px;
}

#container {
	margin-top: 80px;
	display: inline-block;
}

#picture {
	display: inline-block;
	margin-right: 2px;
	width: 500px;
	height:400px;
	background-color: gray;
	text-align: center;
	vertical-align: top;
}


#players{
	background-color: gray;
	display: inline-block;
	height: 400px;
	width: 200px;
}


#footer {
	display: inline-block;
}

.chatroom {
	margin-top: 10px;
	margin-right: 2px;
	padding-left: 10px;
	text-align: left;
	vertical-align: top;
	background-color: gray;
	width: 500px;
	height: 200px;
	display: inline-block;
}

.points {
	margin-top: 10px;
	text-align: left;
	background-color: gray;
	width: 200px;
	height: 200px;
	display: inline-block;
}


