<html>
<head>
	<title>GIFme</title>
	<link rel="stylesheet" type="text/css" href="game.css">
</head>

<body>

<div id='picture'>
	<h1>Picture:</h1>
		<h3>Rules:</h3>
		<p>left side of DIV.</p>
</div>

<div id='picture'>
	<h1>Picture:</h1>
		<h3>Rules:</h3>
		<p>left side of DIV.</p>
</div>

<div id='player1'>
	<h1>Player1</h1>
		<p>Player 1-4 align right</p>
		<input type='submit' value='VOTE'>

</div>

<div id='player2'>
	<h1>Player1</h1>
		<p>Player 1-4 align right</p>
		<input type='submit' value='VOTE'>
</div>

<div id='player3'>
	<h1>Player1</h1>
		<p>Player 1-4 align right</p>
		<input type='submit' value='VOTE'>

</div>

<div id='player4'>
	<h1>Player1</h1>
		<p>Player 1-4 align right</p>
		<input type='submit' value='VOTE'>
</div>

<div id='chatroon'>
	<h1>Chatroom</h1>
		<p>Bottom left chatroom</p>
</div>

<div id='points'>
	<h1>scoresheet</h1>
		<p>insert count here</p>
</div>



</body>
</html>